@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Alef Hebrew';
}

.header {
	width: 100%;
}

.main-content {
	width: 30%;
}

.footer {
	position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    left: 0;
    right: 0;
}

.link-wrapper {
	line-height: 32px;
}

.social-logo {
	width: 24px;
	margin-right: 5px;
}

@media(max-width: 768px) {
	.main-content {
		width: 100%;
		padding: 0 15%;
	}
}

@media(max-height: 468px) {
	.footer {
		position: relative;
	}
}